langchain
langgraph

langchain-community
langchain-core
langchain-text-splitters

langchain-openai
langchain-huggingface
langchain-chroma

chromadb

pypdf

sentence-transformers

pydantic-settings
python-dotenv

rich

pytest